BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP    "clk" SITE "P6";
IOBUF PORT     "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;
LOCATE COMP    "LEDS" SITE "T6";
IOBUF PORT     "LEDS" IO_TYPE=LVCMOS33;
LOCATE COMP    "resetn" SITE "R7";
IOBUF PORT     "resetn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP    "TXD" SITE "C4";
IOBUF PORT     "TXD" IO_TYPE=LVCMOS33;
LOCATE COMP    "RXD" SITE "D4";
IOBUF PORT     "RXD" IO_TYPE=LVCMOS33;
