BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP    "clk" SITE "P6";
IOBUF PORT     "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;
LOCATE COMP    "resetn" SITE "R7";
IOBUF PORT     "resetn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP    "LEDS" SITE "T6";
IOBUF PORT     "LEDS" IO_TYPE=LVCMOS33;
LOCATE COMP    "R0" SITE "C4";
IOBUF PORT     "R0" IO_TYPE=LVCMOS33;
LOCATE COMP    "G0" SITE "D4";
IOBUF PORT     "G0" IO_TYPE=LVCMOS33;
LOCATE COMP    "B0" SITE "E4";
IOBUF PORT     "B0" IO_TYPE=LVCMOS33;
LOCATE COMP    "R1" SITE "D3";
IOBUF PORT     "R1" IO_TYPE=LVCMOS33;
LOCATE COMP    "G1" SITE "E3";
IOBUF PORT     "G1" IO_TYPE=LVCMOS33;
LOCATE COMP    "B1" SITE "F4";
IOBUF PORT     "B1" IO_TYPE=LVCMOS33;
LOCATE COMP    "A" SITE "N5";
IOBUF PORT     "A" IO_TYPE=LVCMOS33;
LOCATE COMP    "B" SITE "N3";
IOBUF PORT     "B" IO_TYPE=LVCMOS33;
LOCATE COMP    "C" SITE "P3";
IOBUF PORT     "C" IO_TYPE=LVCMOS33;
LOCATE COMP    "D" SITE "P4";
IOBUF PORT     "D" IO_TYPE=LVCMOS33;
LOCATE COMP    "E" SITE "N4";
IOBUF PORT     "E" IO_TYPE=LVCMOS33;
LOCATE COMP    "S_CLK" SITE "M3";
IOBUF PORT     "S_CLK" IO_TYPE=LVCMOS33;
LOCATE COMP    "LATCH" SITE "N1";
IOBUF PORT     "LATCH" IO_TYPE=LVCMOS33;
LOCATE COMP    "nOE" SITE "M4";
IOBUF PORT     "nOE" IO_TYPE=LVCMOS33;

