BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP    "clk" SITE "P6";
IOBUF PORT     "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;
LOCATE COMP    "rstn" SITE "R7";
IOBUF PORT     "rstn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP    "nOE" SITE "T6";
IOBUF PORT     "nOE" IO_TYPE=LVCMOS33;
LOCATE COMP    "to_screen_RGB0[2]" SITE "C4";
IOBUF PORT     "to_screen_RGB0[2]" IO_TYPE=LVCMOS33;
LOCATE COMP    "to_screen_RGB0[1]" SITE "D4";
IOBUF PORT     "to_screen_RGB0[1]" IO_TYPE=LVCMOS33;
LOCATE COMP    "to_screen_RGB0[0]" SITE "E4";
IOBUF PORT     "to_screen_RGB0[0]" IO_TYPE=LVCMOS33;
LOCATE COMP    "to_screen_RGB1[2]" SITE "D3";
IOBUF PORT     "to_screen_RGB1[2]" IO_TYPE=LVCMOS33;
LOCATE COMP    "to_screen_RGB1[1]" SITE "E3";
IOBUF PORT     "to_screen_RGB1[1]" IO_TYPE=LVCMOS33;
LOCATE COMP    "to_screen_RGB1[0]" SITE "F4";
IOBUF PORT     "to_screen_RGB1[0]" IO_TYPE=LVCMOS33;
LOCATE COMP    "to_screen_ABCDE[0]" SITE "N5";
IOBUF PORT     "to_screen_ABCDE[0]" IO_TYPE=LVCMOS33;
LOCATE COMP    "to_screen_ABCDE[1]" SITE "N3";
IOBUF PORT     "to_screen_ABCDE[1]" IO_TYPE=LVCMOS33;
LOCATE COMP    "to_screen_ABCDE[2]" SITE "P3";
IOBUF PORT     "to_screen_ABCDE[2]" IO_TYPE=LVCMOS33;
LOCATE COMP    "to_screen_ABCDE[3]" SITE "P4";
IOBUF PORT     "to_screen_ABCDE[3]" IO_TYPE=LVCMOS33;
LOCATE COMP    "to_screen_ABCDE[4]" SITE "N4";
IOBUF PORT     "to_screen_ABCDE[4]" IO_TYPE=LVCMOS33;
LOCATE COMP    "to_screen_CLK" SITE "M3";
IOBUF PORT     "to_screen_CLK" IO_TYPE=LVCMOS33;
LOCATE COMP    "to_screen_LATCH" SITE "N1";
IOBUF PORT     "to_screen_LATCH" IO_TYPE=LVCMOS33;
LOCATE COMP    "to_screen_nOE" SITE "M4";
IOBUF PORT     "to_screen_nOE" IO_TYPE=LVCMOS33;

